<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
		<link rel="stylesheet" href="stylesheets/main.css">
	</head>
	<body>
		<h1>
			<%= title %>
		</h1>
		<span><%= descript %></span>
		<div>取得資料 至 表格建立完成(含事件綁定) 期間，共耗費 <span id="usuage" class="usuage"></span> ms</div>
		<table>
			<thead>
				<tr>
					<th>KEY</th>
					<th>CELL1</th>
					<th>CELL2</th>
					<th>CELL3</th>
					<th>CELL4</th>
					<th>CELL5</th>
					<th>CELL6</th>
					<th>CELL7</th>
					<th>CELL8</th>
					<th>CELL9</th>
				</tr>
			</thead>
			<tbody id="tbody">
			</tbody>
		</table>
		<%# <script src="javascripts/jquery-3.1.1.min.js"></script>%>
		<script src="javascripts/mainV3.js"></script>
	</body>
</html>
