<!DOCTYPE html>
<html>

<head>
    <title>title</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div class="main-container">
        <div class="">
            <div class="initial center">
                <h1>Javascript 最佳化</h1>
            </div>
            <div>
                <ul>
                    <li>
                        使用 jquery ajax 取得 data/data1.json, data2.json, data3.json
                    </li>
                    <li>
                        三份資料皆取得後，以 data1 的資料為主體產生表格
                    </li>
                    <li>
                        以 data2.json 的 key 對應至 data1 的 key 以完成 cell8 欄位
                    </li>
                    <li>
                        以 data3.json 的 cell4 對應至 data1 的 cell4 以完成 cell9 欄位
                    </li>
                    <li>
                        請注意 data2 與 data3 順序與 data1 不一致
                    </li>
                    <li>
                        點擊 tr 可產生整列背景變色效果 (上一次點選列應恢復預設)
                    </li>
                    <li>
                        點擊星星可產生圖片變化效果 (但列背景不應變色)
                    </li>
                </ul>
            </div>
        </div>
        <div class="flex-container">
            <div class="demo-box">
                <div>
                    <h2>平均時間:<span></span>ms</h2>
                </div>
                <a href="v1">demoV1</a>
            </div>
            <div class="demo-box">
                <h2>平均時間:<span></span>ms</h2>
                <a href="v2">demoV2</a>
            </div>
        </div>
    </div>
</body>

</html>
